.btn-import {
    background: #605c64;
    color: #eee;
    margin: 10px 0;
    padding: 10px;
    width: 95%;
}

.btn-import:hover {
    color: #fff;
    background-color: #eeeeee;
}

.btn-import:active {
    color: #fff;
    background-color: #d9d9d9;
}