.App {
    display: grid;
    background-color: #eeeeee;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
}

.Side {
    background-color: rgb(55, 52, 58);
    color: #eeeeee;
    display: grid;
}

.Side h1 {
    text-align: center;
    margin-bottom: 0.2em;
}

.Side h2 {
    margin-top: 0;
    text-align: center;
}

.MapView {

}

.leafletButton {
    background: #37343a;
    color: #eee !important;
    font-size: 20px;
    z-index: 2000;
    pointer-events: auto
}


.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}
button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}