.App {
    display: grid;
    background-color: #eeeeee;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
}

.Side {
    background-color: rgb(55, 52, 58);
    color: #eeeeee;
    display: grid;
}

.Side h1 {
    text-align: center;
    margin-bottom: 0.2em;
}

.Side h2 {
    margin-top: 0;
    text-align: center;
}

.MapView {

}
